@use "../../../styles/base/" as *;

.projects {
  min-height: 100vh;

  &__text-block-wrapper {
    grid-column: 1/-1;

    @include media(tablet) {
      grid-column: 3/-3;
    }
  }

  &__project {
    grid-column: 1/-1;

    @include media(tablet) {
      grid-column: span 4;
    }
  }
}
