@use "../../../styles/base/" as *;

.projects {
  min-height: 100vh;

  &__text-block-wrapper {
    grid-column: 1/-1;
    margin-bottom: rv(40, 50);

    @include media(tablet) {
      grid-column: 3/-3;
    }
  }

  &__list {
    row-gap: 40px;

    @include media(tablet) {
      row-gap: rv(20, 60);
    }
  }

  &__project {
    grid-column: 1/-1;

    @include media(tablet) {
      grid-column: span 4;
    }
  }
}
