@use "../../../styles/base/" as *;

.header {
  position: fixed;
  left: 0;
  z-index: 10;

  width: 100%;

  transform: translateY(-100%);

  @include media(0, tablet) {
    bottom: 0;
  }

  @include media(tablet) {
    top: 0;
  }

  &--active {
    transform: translateY(0);
  }

  &--transparent {
    background-color: transparent;
  }

  &__nav {
    grid-column: 1/-1;

    @include media(tablet) {
      grid-column: 6/-1;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include media(tablet) {
      grid-column: 1/span 3;
    }
  }

  &__item {
    margin: 0 rv(15);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include transition(500ms);

    display: inline-block;
    padding: rv(20) 0;

    color: var(--t-primary);

    &::after {
      @include transition(300ms, cubic-bezier(0, 0.41, 0, 1.4));

      display: block;
      width: 0;
      height: rv(2);

      margin-top: rv(3);

      background-color: var(--color-secondary);

      transition-property: width;

      content: "";
    }

    &--active {
      color: var(--color-secondary);

      &::after {
        width: 100%;
      }
    }
  }
}
