@use "sass:math";

$breakpoints: (
  mobile-sm: 35em,
  // 560px
  mobile: 48em,
  // 768px
  tablet: 64em,
  // 1024px
  tablet-lg: 71.25em,
  // 1140px
  desktop: 87.5em,
  // 1400px
);

$orientations: (
  portrait: portrait,
  landscape: landscape,
);

$colors: (
  main: #1c1c1c,
  primary-extra-light: #e0f0f9,
  primary-light: #00a1f2,
  primary-dark: #00689c,
  t-dark: #252728,
  t-medium-dark: #333,
  t-medium: #5c5c5c,
  t-light: #a7a7a7,
  bg-extra-light: #f7f7f7,
  bg-light: #ebebeb,
  bg-medium-light: #e6eae8,
  bg-medium: #dcdcdc,
  bg-dark: #2c2c2c,
  danger: #df2323,
  white: #fff,
  white-50: rgba(#fff, 0.5),
  bg-grey: #d3d3d3,
);

$font-sizes: (
  main: 16px,
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

$offsets: (
  default: 16px,
  large: 24px,
  small: 8px,
);

$fonts: (
  main: #{"Rubik",
  sans-serif},
  secondary: "Karla",
);

/* Screen width boundings
========================================================================== */
$desktopWidth: 1920;
$mobileWidth: 375;

$mockupMobileScreenHeight: 812;
$mockupDesktopScreenHeight: 900;

// Inner
$size-inner-width: 1320px;
$size-inner-padding: 1rem;
$size-inner-padding-medium: 2.75rem;
$size-inner-padding-responsive: #{math.div(120, $desktopWidth) * 100 + "vw"};
