@use "../../../../styles/base/" as *;

.info {
  min-height: 50vh;
  padding-top: rv(40, 80);

  &__col {
    grid-column: 1/-1;

    &--col-1 {
      @include media(tablet) {
        grid-column: 1/span 8;
      }

      p {
        margin: rv(20) 0;
      }
    }

    &--col-2 {
      @include media(tablet) {
        grid-column: 9/-1;
      }
    }
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: rv(10) rv(5);
    align-items: center;
    justify-content: center;
  }

  &__links {
    display: flex;
    gap: rv(10) rv(5);
    justify-content: center;
    padding-top: rv(40, 80);
  }
}
